{% extends "layout.html" %}
{% block title %} Kokeet {% endblock %}
{% block content %}
<h2>Kokeet</h2>
<b>Aihealue:</b> {{ subject.name }}
<hr>

{% if session.role == "teacher" %}
<h3>Luo uusi koe:</h3>
<form action="/exams/add" method="POST">
    <input type="hidden" value="/subjects/{{subject.id}}/exams" name="path" />
    <input type="hidden" value="{{subject.id}}" name="subject_id" />
    <b> Kokeen nimi: </b> <input type="text" name="name"> <br> <br>
    <b> Aikaraja (minuuttia): </b> <input type="number" name="timelimit"> <br> <br>
    <input type="submit" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<hr>
{% endif %}

{% for exam in exams %}
<h3>{{ exam.exam_name }}</h3>
<p> <b>Aikaraja: </b> {{ exam.time_limit_minutes }} minuuttia
<p> <b>Kysymyksiä: </b> {{ exam.total_questions}}
<p> <b>Maksimipisteet: </b> {{exam.max_points}}

{% if session.role == "student" and exam.exam_id not in completed_exam_ids %}
<p> <a href="/exams/{{exam.exam_id}}" 
    onclick="return confirm(`Haluatko varmasti aloittaa kokeen? Painamalla 'ok', kokeen suoritusaika alkaa.`);">
    <b> Aloita koe </b> </a>
{% endif %}

{% if session.role == "teacher" %}
<p> <a href="/exams/{{exam.exam_id}}">Lisää tai poista kysymyksiä</a>
<p>
    <form action="/exams/delete" method="POST">
        <input type="hidden" value="/subjects/{{subject.id}}/exams" name="path" />
        <input type="hidden" value="{{exam.exam_id}}" name="exam_id" />
        <input type="submit" value="Poista" 
        onclick="return confirm('Kokeen poistaminen poistaa sen myös kaikista tilastoista. Haluatko varmasti poistaa kokeen?');"/>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
</p>
{% endif %}
<hr>
{% endfor %}
{% endblock %}