{% extends "layout.html" %}
{% block title %} Etusivu {% endblock %}
{% block content %}

{% if session.user_id %}
    <h2>Etusivu</h2>
    {% if session.role == "student" %}
        <p>Voit suorittaa eriaihealueen kokeita ja katsoa suorituksesi. </p>
        <hr> <br>
        
        <h5><a style="color: red;">Poista käyttäjätili</a></h5>
        <p>
            <form action="/users/delete" method="POST">
                <input type="hidden" value="{{session.user_id}}" name="id_to_delete" />
                <input type="hidden" value="student" name="role_to_delete" />
                <a onclick="return confirm(`Haluatko varmasti poistaa oman käyttäjätilisi?`);">
                <input type="submit" class="btn btn-danger" value="Poista"/>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </form>
        </p>
    {% endif %}

    {% if session.role == "teacher" %} 
        <p>
            <ul>
                <li>
                    <b>Aihealueet</b> -sivulla pystyt luomaan ja poistamaan aihealueta, kokeita ja kysymyksiä sekä lisäämään ja poistamaan kysymyksiä kokeilta.
                </li>
                <li>
                    <b>Koetilastot</b> -sivulta näet yhteenvedot kaikista sovelluksen kokeista sekä tulostilastoja.
                </li>
                <li>
                    <b>Käyttäjät</b> -sivulla pääset lisäämään ja poistamaan käyttäjiä.
                </li>
                <li>
                    <b>Käyttäjätilastot</b> -sivulta näet käyttäjäkohtaiset suoritukset.
                </li>
            </ul>
        </p>
    {% endif %}

{% else %}
    <p>
        Sovelluksessa opettaja voi luoda kokeita ja opiskelija voi suorittaa niitä. <br>
        <b>Kirjaudu sisään tai luo tunnus.</b>
    </p>
{% endif %}

{% endblock %}