{% extends "layout.html" %}
{% block title %} Kirjautuminen {% endblock %}
{% block content %}
<h2>Kirjaudu sisään: </h2>
<form action="/login" method="POST">
    <p style="width: 100px; display: inline-block;"> <b>Nimi:</b> </p> <input type="text" name="username" required placeholder="Pituus 4-20 merkkiä"> <br>
    <p style="width: 100px; display: inline-block;"> <b>Salasana:</b> </p> <input type="password" name="password" required placeholder="Pituus 8-20 merkkiä"> <br>
    <input type="submit" class="btn btn-primary" value="Kirjaudu">
</form> <br>
{% endblock %}