{% extends "layout.html" %}
{% block title %} Koe {% endblock %}
{% block content %}

<h5>
    <i style="color: red;">Huomioithan, että kysymysten poistaminen ja lisääminen vaikuttaa myös 
    jo suoritettuihin kokeisiin, joissa kysymystä on käytetty.</i>
</h5>
<hr>

<h2> {{ exam.name }} </h2>
<b> Aikaraja: </b> {{ exam.time_limit_minutes }} minuuttia <br>
<b> Koekysymyksiä: </b> {% if max_points==None %} 0 {% else %} {{ questions_count }} {% endif %} <br>
<b> Kokonaispisteet: </b> {% if max_points==None %} 0 {% else %} {{ max_points }} {% endif %}

<hr>
<h4><u>Kysymykset:</u></h4>

{% if max_points==None %}
<hr>
{% else %}
{% for question in exams_questions %}
<b> Kysymys: </b> {{ question.question }} <br>
<b> Vastaus: </b> {{question.answer}} <br>
<b> Pisteet: </b> {{question.points}} <br>
<p>
    <form action="/exam/remove_question" method="POST">
        <input type="hidden" value="/exams/{{exam.exam_id}}" name="path" />
        <input type="hidden" value="{{exam.exam_id}}" name="exam_id" />
        <input type="hidden" value="{{question.question_id}}" name="question_id" />
        <input type="submit" value="Poista kysymys"/>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
</p>
<hr>
{% endfor %}
{% endif %}

{% if available_questions_count > 0 %}
<p> <h4> Lisää kokeelle kysymys: </h4>
    <form action="/exam/add_question" method="POST">
        <input type="hidden" value="/exams/{{exam.exam_id}}" name="path" />
        <input type="hidden" value="{{exam.exam_id}}" name="exam_id" />       
        <select name="question" onchange="updateSelected(event)">
            {% for question in available_questions %}
            <option value="{{question.question}}">{{question.question[:40]}}</option>
            {% endfor %}
        </select> <br> <br>
        <div style="width:350px; border:1px solid blue; border-inline: 5mm;">
            <i id="res"> </i>
        </div> <br>
            <script>
                function updateSelected(event) {
                    document.getElementById('res').innerHTML = event.target.value;
                }
            </script>

        <input type="submit" value="Lisää kysymys"/>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
</p>
{% endif %}
{% endblock %}