{% extends "layout.html" %}
{% block title %} Kokeet {% endblock %}
{% block content %}
<h2> {{ exam.name }} </h2>
<b> Aikaraja: </b> {{ exam.time_limit_minutes }} minuuttia <br>
<i><b> Koe aloitettu: {{ exam_started }} </b></i> <br>

{% if exam_finished == None %}
<p>
    <form action="/exam/submit" method="POST">
        <input type="hidden" value="/exams/{{exam.exam_id}}" name="path" />
        <input type="hidden" value="{{exam.exam_id}}" name="exam_id" />
        <input type="hidden" value="{{total_points_received}}" name="total_score" />
        <input type="submit" value="Lähetä vastaukset ja lopeta koe">
    </form>
</p>
{% endif %}

{% if exam_finished %}
    <i><b> Koe lopetettu: {{ exam_finished}} </b></i> <br>
{% endif %}
<b> Koe kysymyksiä: </b> {% if max_points==None %} 0 {% else %} {{ questions_count }} {% endif %} <br>
<b> Kokonaispisteet: </b> 
{% if answered_questions_count > 0 %} {{total_points_received}}
{% else %} _ {% endif %} 
/ {% if max_points==None %} 0 
{% else %} {{ max_points }} {% endif %}

<hr>
<h4><u>Kysymykset:</u></h4>

{% if max_points==None %}
<hr>
{% else %}
    {% for question in exams_questions if question.question_id not in answered_question_ids %}
        <p><b>Kysymys: </b> {{ question.question }}
        <p>
            <form action="/exam/answer_question" method="POST">
                <input type="hidden" value="/exams/{{exam.exam_id}}" name="path" />
                <input type="hidden" value="{{exam.exam_id}}" name="exam_id" />
                <input type="hidden" value="{{question.question_id}}" name="question_id" />
                <b>Vastaus: </b><input type="text" name="answer"> <br> <br>
                <input type="submit" value="Vastaa"/>
            </form>
        </p>
        <p>Pisteet: _ / {{question.points}}
        <hr>
    {% endfor %}
    {% for i in range(answered_questions_count) %}
        <p><b>Kysymys: </b>{{answers[i].question}}
        <p><b>Vastauksesi: </b>{{answers[i].users_answer}}
        <p><b>Oikea vastaus: </b>{{answers[i].correct_answer}}
        <p><b>Pisteet: </b>{{answers[i].points_received}}
        <hr>
    {% endfor %}
{% endif %}

{% endblock %}
