{% extends "layout.html" %}
{% block title %} Kysymykset {% endblock %}
{% block content %}
<h2>Kysymykset</h2>
<b>Aihealue:</b> {{ subject.name }}
<hr>

<h6><i style="color: red;">
    Huomioithan, että kysymyksen poistaminen poistaa sen myös tilastoista, sekä vaikuttaa kaikkiin kokeisiin, joissa kysymystä on käytetty.
</i></h6>
<hr>

<h3>Lisää uusi kysymys:</h3>
<form action="/questions/add" method="POST">
    <input type="hidden" value="/subjects/{{subject.id}}/questions" name="path">
    <input type="hidden" value="{{subject.id}}" name="subject_id">
    <b> Kysymys: </b> <br>
    <textarea name="question" placeholder="Pituus 1-200 merkkiä" rows="4" cols="30" required></textarea> <br>
    <b> Vastaus: </b> <br>
    <input type="text" name="answer" placeholder="Pituus 1-20 merkkiä" required> <br>
    <b> Pisteet: </b> <br>
    <input type="number" name="points" placeholder="0-10" required> <br> <br>
    <input type="submit" class="btn btn-primary" value="Lisää">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<hr>

{% for question in questions %}
<p>
<b>Kysymys:</b> <br>
<p>
{{ question.question }} 
<p> 
<b>Vastaus: </b> {{ question.answer }}
<p>
<b>Pisteet: </b> {{ question.points }}
<p>
    <form action="/questions/delete" method="POST">
        <input type="hidden" value="/subjects/{{subject.id}}/questions" name="path" />
        <input type="hidden" value="{{question.id}}" name="question_id" />
        <input type="submit" class="btn btn-danger" value="Poista"/>
        <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
    </form>
</p>
<hr>
{% endfor %}
{% endblock %}