{% extends "layout.html" %}
{% block title %} Luo tunnus {% endblock %}
{% block content %}
<h2>Luo tunnus</h2> <br>
<form action="/register" method="POST">
    <b>Nimi:</b> <br>
    <input type="text" name="username" required> <br> <br>
    <b>Salasana:</b> <br>
    <input type="password" name="password1" required> <br> <br>
    <b>Salasana uudelleen:</b> <br>
    <input type="password" name="password2" required> <br> <br>
    <input type="hidden" value="student" name="role" />
    <input type="submit" class="btn btn-primary" value="Luo tunnus">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
<br>
{% endblock %}