{% extends "layout.html" %}
{% block title %} Käyttäjät {% endblock %}
{% block content %}
<h2>Käyttäjät</h2>
<hr>

<form action="/users/add" method="POST">
    <h3>Lisää käyttäjä:</h3>
    <b>Nimi: </b><input type="text" name="username" required> <br> <br>
    <b>Salasana: </b><input type="password" name="password" required> <br> <br>
    <b>Rooli: </b>
    <select name="role">
        <option value="student">Oppilas</option>
        <option value="teacher">Opettaja</option>
    </select> <br> <br>
    <input type="submit" class="btn btn-primary" value="Lisää"> <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<hr>

{% for user in users %}
<b>Nimi:</b> {{ user.username }} <br>
<b>Rooli:</b> 
    {% if user.role == "student" %} Oppilas 
    {% else %} Opettaja {% endif %} <br>

    {% if session.user_id == user.id %}
    <p>
        <form action="/users/delete" method="POST">
            <input type="hidden" value="{{user.id}}" name="id_to_delete" />
            <a onclick="return confirm(`Haluatko varmasti poistaa oman käyttäjätilisi?`);">
            <input type="submit" class="btn btn-danger" value="Poista oma käyttäjätili"/>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </p>
    {% else %}
    <p>
        <form action="/users/delete" method="POST">
            <input type="hidden" value="{{user.id}}" name="id_to_delete" />
            <a onclick="return confirm(`Haluatko varmasti poistaa käyttäjän?`);">
            <input type="submit" class="btn btn-danger" value="Poista"/>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </p>
    {% endif %}
<hr>
{% endfor %}
{% endblock %}