{% extends "layout.html" %}
{% block title %} Käyttäjätilastot {% endblock %}
{% block content %}
<h2>Käyttäjätilastot</h2> <br>

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Opiskelijan nimi</th>
            <th>Aihealue</th>
            <th>Kokeen nimi</th>
            <th>Suoritettu</th>
            <th>Aikaraja</th>
            <th>Käytetty aika</th>    
            <th>Maksimipisteet</th>
            <th>Opiskelijan pisteet</th>
        </tr>
    </thead>
    <tbody>
        {% for user in stats %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.subject_name }}</td>
            <td>{{ user.exam_name }}</td>
            <td>{% if user.exam_finished==None %} <p style="color: red">Kesken</p>
                {% else %} {{ user.exam_finished }} {% endif %}</td>
            <td>{{ user.time_limit }} min</td>
            <td>{% if user.exam_finished==None %} -
                {% else %}
                    {% if user.time_limit_exceeded < 0 %}
                        <p style="color: red">{{ user.time_spent[0] }} min {{ user.time_spent[1] }} s</p>
                    {% else %}
                        <p style="color: black">{{ user.time_spent[0] }} min {{ user.time_spent[1] }} s</p>
                    {% endif %}
                {% endif %}
            </td>
            <td>{{ user.max_points }}</td>
            <td>{% if user.exam_finished==None %} -
                {% else %} {{ user.points_received }} {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      columns: [
        null,
        null,
        null,
        {searchable: false},
        {searchable: false},
        {searchable: false},
        {searchable: false},
        {searchable: false}
      ],
    });
  });
</script>
{% endblock %}