{% extends "layout.html" %}
{% block title %} Käyttäjätilastot {% endblock %}
{% block content %}
<h2>Opiskelijat</h2>

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Opiskelijan nimi</th>
            <th>Aihealue</th>
            <th>Kokeen nimi</th>            
            <th>Maksimipisteet</th>
            <th>Suoritettu</th>
            <th>Opiskelijan pisteet</th>
        </tr>
    </thead>
    <tbody>
        {% for user in stats %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.subject_name }}</td>
            <td>{{ user.exam_name }}</td>
            <td>{{ user.max_points }}</td>
            <td>{% if user.exam_finished==None %} Kesken {% else %} {{ user.exam_finished }} {% endif %}</td>
            <td>{% if user.exam_finished==None %} - {% else %} {{ user.points_received }} {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          null,
          {searchable: false},
          {searchable: false},
          {searchable: false}
        ],
      });
    });
  </script>
{% endblock %}