{% extends "layout.html" %}
{% block title %} Käyttäjät {% endblock %}
{% block content %}
<h2>Käyttäjät</h2>
<hr>

<form action="/users/add" method="POST" onsubmit="return check_add(this)">
    <h3>Lisää käyttäjä:</h3>
    <b>Nimi: </b><input type="text" name="username"> <br> <br>
    <b>Salasana: </b><input type="password" name="password"> <br> <br>
    <b>Rooli: </b>
    <select name="role">
        <option value="student">Oppilas</option>
        <option value="teacher">Opettaja</option>
    </select> <br> <br>
    <input type="submit" value="Lisää"> <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
    function check_add(form) {
        if(form.username.value.length < 5 || form.username.value.length > 20) {
            alert("Käyttäjätunnuksen tulee olla vähintään 5 ja enintään 20 merkkiä pitkä.")
            return false
        }
        if(form.password.value.length < 8 || form.password.value.length > 20) {
            alert("Salasanan tulee olla vähintään 8 ja enintään 20 merkkiä pitkä.")
            return false 
        }
        return true
    }
</script>
<hr>

{% for user in users %}
<b>Nimi:</b> {{ user.username }} <br>
<b>Rooli:</b> 
    {% if user.role == "student" %}
        <a>Oppilas</a>
    {% endif %}
    {% if user.role == "teacher" %} 
        <a>Opettaja</a> 
    {% endif %} <br>

    {% if session.user_id == user.id %}
    <p>
        <form action="/users/delete" method="POST">
            <input type="hidden" value="{{user.id}}" name="id_to_delete" />
            <input type="hidden" value="{{user.role}}" name="role_to_delete" />
            <a onclick="return confirm(`Haluatko varmasti poistaa oman käyttäjätilisi?`);">
            <input type="submit" value="Poista"/>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </p>
    {% else %}
    <p>
        <form action="/users/delete" method="POST">
            <input type="hidden" value="{{user.id}}" name="id_to_delete" />
            <input type="hidden" value="{{user.role}}" name="role_to_delete" />
            <a onclick="return confirm(`Haluatko varmasti poistaa käyttäjän?`);">
            <input type="submit" value="Poista"/>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </p>
    {% endif %}
<hr>
{% endfor %}
{% endblock %}